In [2]:
msg = "adharsh jaison"


for i in msg:
    print(i)

a
d
h
a
r
s
h

j
a
i
s
o
n

strip(),split(),format()

In [7]:
name = "    abc     "
print(len(name.strip()))

3

In [40]:
number = "1,2,3,4,5,6,7,8"
nos = number.split(",")
print(nos)
sum = 0 # storing the value
for item in nos:
    temp = int(item) #convert str to int
    sum = sum + temp
    print(item,type(item),type(temp))
print(sum)

['1', '2', '3', '4', '5', '6', '7', '8']
1 <class 'str'> <class 'int'>
2 <class 'str'> <class 'int'>
3 <class 'str'> <class 'int'>
4 <class 'str'> <class 'int'>
5 <class 'str'> <class 'int'>
6 <class 'str'> <class 'int'>
7 <class 'str'> <class 'int'>
8 <class 'str'> <class 'int'>
36

In [46]:
name = input("enter user name: ")
password = input("enter the  password: ")

print("your user name: {} and password entered as: {}".format(name,password))

your user name: adharsh jaison and password entered as: 6546

for loop

In [48]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

Find the sum of n multiples of 2 where n is user input

In [65]:
n = int(input("enter a number"))
sum = 0
for i in range(0,n+1,2):
    sum=sum+i
print(sum)

6

List

In [67]:
nlist = ["abc","ldfsjf",6488,48.68,"akjsfk"]
print(nlist[2])

6488

In [50]:
listex = ["one","two","three","four","five","six","seven"]
print(listex)

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [51]:
if "three" in listex:
    print("success")
    # it is case sensitive

success

In [52]:
listex.remove("three")
print(listex)

['one', 'two', 'four', 'five', 'six', 'seven']

In [55]:
listex.sort()
print(listex)

['five', 'four', 'one', 'seven', 'six', 'two']

In [54]:
listex.reverse()
print(listex)

['two', 'six', 'seven', 'one', 'four', 'five']

Functions
function with parameters
function without parameter
function with return value 
function without return value

In [73]:
def fname(n):
    print("I am your first function...",n) 
    retval = "success"
    return retval,True

status, flag = fname()
print(status,flag)

TypeError: fname() missing 1 required positional argument: 'n'

In [74]:
name = "adharsh jaison"
status, flag = fname(name)
print(status,flag)

I am your first function... adharsh jaison
success True